@model BudgetMVC.ViewModels.ContributionViewModel
<div class="newContribution">
    <div class="row">
        <div class="six mobile-four columns">
            <h3>
                Create new Contribution</h3>
            <form class="custom" action="">
            <fieldset>
                <legend></legend>
                @Html.LabelFor(model => model.Description)
                @Html.EditorFor(model => model.Description)
                <div class="row collapse">
                    <div class="one mobile-one columns">
                        <span class="prefix">R$</span>
                    </div>
                    <div class="five mobile-one columns">
                        @Html.EditorFor(model => model.Value)
                    </div>
                    <div class="two mobile-one columns offset-by-three">
                        @Html.EditorFor(model => model.ContributionFactor)
                    </div>
                    <div class="one mobile-one columns">
                        <span class="postfix">%</span>
                    </div>
                </div>
                @Html.LabelFor(model => model.InitialDate)
                @Html.EditorFor(model => model.InitialDate)
                <label for="customDropdown">
                    Contributor</label>
                @Html.DropDownList("Contributors", Model.Contributors, "Name", new { id = "customDropdown", style = "display:none" })
                <div class="custom dropdown">
                    <a href="#" class="current">This is a dropdown </a><a href="#" class="selector">
                    </a>
                    <ul>
                        <li>This is a dropdown</li>
                        <li>This is another option</li>
                        <li>Look, a third option</li>
                    </ul>
                </div>
            </fieldset>
            </form>
            <ul class="button-group even two-up">
                <li><a href="#" class="small button" data-bind="click: saveContribution">Save</a></li>
                <li><a href="#" class="small button" data-bind="click: cancelContribution">Cancel</a></li>
            </ul>
        </div>
    </div>
</div>
