@model BudgetMVC.ViewModels.IndexViewModel
<div class="row header">
    <div class="appTitle">
        <div class="one mobile-one columns">
            <h2>
                <img src="@Url.Content("~/Content/images/graph.png")" alt="System icon" /></h2>
        </div>
        <div class="eleven mobile-three columns">
            <h2>
                BudgetMVC</h2>
            <p>
                Good finacial management makes dreams come true.</p>
        </div>
    </div>
    @Html.Partial("_ModalTemplate", Model.RevenuesModalConfig)
    @Html.Partial("_ModalTemplate", Model.ExpensesModalConfig)
    @Html.Partial("_ContributionModalTemplate", Model.ContributionModalConfig)
    <hr />
</div>
<div class="row">
    <div class="twelve mobile-four columns">
        <div class="row">
            <div class="twelve columns centered-text balance">
                <div class="row">
                    <div class="one mobile-one columns">
                        <ul class="button-group even two-up">
                            <li><a href="#" class="button" data-bind="click: goPreviousMonth"><</a> </li>
                        </ul>
                    </div>
                    <div class="ten mobile-two columns">
                        <h3>
                            <!--ko text: currentMonthName -->
                            <!--/ko-->
                            -
                            <!--ko text: currentYear -->
                            <!--/ko-->
                            -
                            <!--ko text: currentMonthBalance -->
                            <!--/ko-->
                        </h3>
                    </div>
                    <div class="one mobile-one columns">
                        <ul class="button-group even two-up">
                            <li><a href="#" class="button" data-bind="click: goNextMonth">></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <div class="row">
                    <div class="twelve columns">
                        <h4>
                            Revenues</h4>
                    </div>
                </div>
                <table class="twelve">
                    <thead>
                        <tr>
                            <th>
                                Description
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                Creation Date
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: revenues">
                        <tr>
                            <td data-bind="text: Description">
                            </td>
                            <td data-bind="text: Value">
                            </td>
                            <td data-bind="text: CreationDate">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="six columns">
                <div class="row">
                    <div class="twelve columns">
                        <h4>
                            Expenses</h4>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Description
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                Creation Date
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: expenses">
                        <tr>
                            <td data-bind="text: Description">
                            </td>
                            <td data-bind="text: Value">
                            </td>
                            <td data-bind="text: CreationDate">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/util/date.helper.js")
    @Scripts.Render("~/Scripts/keymaster.min.js")
    @Scripts.Render("~/bundles/pickadate")
    @Scripts.Render("~/Scripts/ViewModel/IndexViewModel.js")
}
