@model BudgetMVC.ViewModels.IndexViewModel

<div class="row">
	<div class="one columns">
		<h2><img src="@Url.Content("~/Content/images/graph.png")" alt="System icon" /></h2>
	</div>
    <div class="eleven columns">
        <h2>
            BudgetMVC</h2>
        <p>
            Good finacial management makes dreams come true.</p>
    </div>
	<hr />
</div>
<div class="row">
    <div class="twelve columns">
        <div class="row">
            <div class="twelve columns centered-text balance">
                <h3>
                    <!--ko text: currentMonthName -->
                    <!--/ko-->
                    -
                    <!--ko text: currentYear -->
                    <!--/ko-->
                    -
                    <!--ko text: currentMonthBalance -->
                    <!--/ko-->
                </h3>
            </div>
        </div>
        <div class="row content">
            <div class="twelve columns">
                <div class="row">
                    <div class="six columns">
                        <div class="row">
                            <div class="twelve columns">
                                <h4>
                                    Revenue</h4>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                    <th>
                                        Creation Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: revenues">
                                <tr>
                                    <td data-bind="text: Description">
                                    </td>
                                    <td data-bind="text: Value">
                                    </td>
                                    <td data-bind="text: CreationDate">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="six columns">
                        <div class="row">
                            <div class="twelve columns">
                                <h4>
                                    Expenses</h4>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                    <th>
                                        Creation Date
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: expenses">
                                <tr>
                                    <td data-bind="text: Description">
                                    </td>
                                    <td data-bind="text: Value">
                                    </td>
                                    <td data-bind="text: CreationDate">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="newRevenues" class="reveal-modal">
    <p class="validateTips">
        Create new Revenue.</p>
    <form>
    <fieldset>
        @Html.EditorForModel()
    </fieldset>
    </form>
    <a href="#" class="tiny button" data-bind="click: saveRevenue">Save</a>
</div>
<div id="newExpenses" class="reveal-modal">
    <p class="validateTips">
        Create new Expenses.</p>
    <form>
    <fieldset>
        <label for="Description">
            Description</label>
        <input type="text" name="Description" id="ExpenseDescription" />
        <label for="Value">
            Value</label>
        <input type="text" name="Value" id="ExpenseValue" value="" />
    </fieldset>
    </form>
    <a href="#" class="tiny button" data-bind="click: saveExpense">Save</a>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/util/date.helper.js")
    @Scripts.Render("~/Scripts/keymaster.min.js")
    @Scripts.Render("~/bundles/pickadate")
    @Scripts.Render("~/Scripts/ViewModel/IndexViewModel.js")
}
